<p id="notice"><%= notice %></p>

<p>
  <strong>Option:</strong>
  <%= @filters_value.option %>
</p>

<%= link_to 'Edit', edit_filters_value_path(@filters_value) %> |
<%= link_to 'Back', filters_values_path %>
